$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;

$color-dark: #3d3d33;
$color-light: white;
$color-contrast: #5cba47;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

$font_main:'Poppins', sans-serif;