@import "variables";
@import "mixins";
@import "reset";

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  position: relative;

  .header {
    background-color: $color-dark;
    height: 10vh;
    width: 100vw;
    

    .logo {
      width: 15rem;
      margin: 0 auto;
      padding: 2rem;

    }
  }
  .main-background{

  }
  .footer{
    background-color: $color-dark;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }
}