@import "variables";
@import "mixins";
@import "reset";

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  .header {
    background-color: $color-dark;
    height: 10vh;
    width: 100vw;


    .logo {
      width: 15rem;
      margin: 0 auto;
      padding: 2rem;

    }
  }

  .footer {
    background-color: $color-dark;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  .new-presta {
    background-color: $color-contrast;
    color: $color-light;
    font-family: $font_main;
    width: 80vw;
    height: 40vh;
    margin-top: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .form-group {
    background-color: $color-light;
    width: 80vw;
    height: 45vh;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;
  

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      input, textarea {
        border: 2px $color-contrast solid;
        border-radius: 1rem;
        width: 60vw;
      }

      label {
        font-family: $font_main;
        margin-bottom: 2rem;
      }

      button {
        background-color: $color-contrast;
        color: $color-light;
        border: none;
        font-family: $font_main;
        width: 70vw;
        height: 4rem;
        border-radius: 1rem;
        margin: 0 auto;
      }
    }




  }
}